body{
    margin:0;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:30em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:30em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Consolas, monospace; }

.typing h2 {
    font-size:300%;
    width:30em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid transparent;
    margin-left: 5em;
    margin-bottom: .15em;
    letter-spacing: .15em;
    animation-fill-mode: both;

    -webkit-animation: typing 8s steps(30, end), /* # of steps = # of characters */
    blink-caret 1s step-end 3;
    -moz-animation: typing 8s steps(30, end), /* # of steps = # of characters */
    blink-caret 1s step-end 3;
}

.typing h2:nth-child(2) {
    animation-fill-mode: both;
    animation-delay: 4s;
}

.typing h2:nth-child(3) {
    animation-fill-mode: both;
    animation-delay: 8s;
}

.typing h2:nth-child(4) {
    animation-fill-mode: both;
    animation-delay: 12s;
}

.typing h2:nth-child(5) {
    animation-fill-mode: both;
    animation-delay: 15s;
}

#results{
    margin: 0px;
    padding: 0px;
}

h3 {
    color:#fff;
    margin: 0 auto;
    top: 40%;
    left: 20%;
    position: absolute;
}

.home {
    background: url("../images/home.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.yours {
    background: url("../images/yours.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.car {
    background: url("../images/car.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.water {
    background: url("../images/water.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.ocean {
    background: url("../images/ocean.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.future {
    background: url("../images/future.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.rose {
    background: url("../images/rose.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

h3 {
    font-size: 8em;
}

h1 {
    margin: 0 auto;
    top: 50%;
    left: 30%;
    position: absolute;
}

.rose h3 {
    color:	#FF007F;
}
