body {
    padding: 3%;
    width: 800px;
    margin: auto;
}

p {
line-height: 130%;
}

table#paraEq tr:nth-child(even) {

    background-color: #eee;
}
table#paraEq tr:nth-child(odd) {
   background-color:#fff;
}
table#paraEq th {
	border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
table#paraEq td {
	border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

nav ul {
    margin:0;
    padding:0;
}

nav ul li {
    display: inline;
    margin: 5px;
}

section {
    margin: 10px;
}